<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Rapture Capture</title>
  
  <!-- Latest compiled and minified CSS -->
 
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.css'>

   <!-- Bringing in CSS Style Sheet -->

  <link rel="stylesheet" href='/css/style.css'>

    <!-- Bringing in jquery -->
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.js'></script> 

</head>

<body class= "container">


  <div class="ui blue inverted large menu">
    
    <a class="item" href="/">
       <i class="home icon"></i> <span id="appName">Rapture Capture</span>
    </a>

    <div class="right menu">
       
      <a class="ui item" href="/signup">
           Create an Account
       </a>
       
       <a class="item" href="/login">
        <i class="user icon"></i>Login
      </a>

    </div>
  </div>