<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Rapture Capture</title>
  
  <!-- Latest compiled and minified CSS -->
 
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.css'>


   <!-- Bringing in CSS Style Sheet -->

  <link rel="stylesheet" href='/css/style.css'>

    <!-- Bringing in jquery -->
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>

   <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.js'></script> 

  <!-- Bringing in Google Maps API -->

 <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>

 <!-- Bringing in JavaScript File -->
 
 <script type="text/javascript" src="/js/index.js"></script> 


</head>

<body class= "container">
  <div class="ui blue inverted large menu">
    
    <a class="item" href="/">
       <i class="home icon"></i> <span id="appName">Rapture Capture</span>
    </a>

<% if(currentuser !== ""){ %>

    <div class="right menu">
       <a class="item" href="/logout">
        <i class="user icon"></i>Logout: <%= currentuser%>
      </a>
    </div>

    <% } else { %>

    <div class="right menu">
       
       <a class="item" href="/logout">
        <i class="user icon"></i>Logout
      </a>

    </div>
    <% } %>

  </div>