<% include ../partials/headerIndex %>


<div id="map-canvas"></div>

<h3 class="ui dividing header" id="indent">Travel Log:</h3>

<table class="ui inverted red table">
  <thead>
    <tr>
      <th><strong>Vacation:</strong></th>
      <th><strong>Dates:</strong></th>
         <th><strong>Journal Entries:</strong></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="table">


</tbody>
</table>



 <a id="indent" href="/places/new">Add a new Place!</a>




<% include ../partials/footer %>