<% include ../partials/headerIndex %>

<p id="indent" class="maphint"><span class="white">hint: click the map for location help!</span></p>
<div id="searchhelp">
<div id="map-canvas"></div>
</div>

<h3 class="ui dividing header" id="indent"><span class="white">Travel Log:</span></h3>

<table class="ui inverted red table">
  <thead>
    <tr>
      <th><strong>Vacation:</strong></th>
      <th><strong>Dates:</strong></th>
         <th><strong>Journal Entries:</strong></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="table">


</tbody>
</table>

<div class="setpoint">
<h3 class="ui dividing header" id="indent"><span class="white">Add a Vacation</span></h3>
</div>
<br>
 <a id="indent" href="/places/new" class="white">I know where I went!</a>
<br>
<br>
<div id="indent">
 <a id="newlocation" href="" class="white"><strong>Look it up!</strong></a>
</div>
<br>


<% include ../partials/footer %>