<% include ../partials/headerUser %>




<h1 class="lp_h1">You made it to the NEW PLACES PAGE!</h1>
<br>
<h2 class="ui dividing header" id="indent">Where have you been!</h2>
  <form action="/places" method="POST" id="newForm">  


  <div class="ui form">
    <div class="ui info message">
      <div class="header">We had some issues</div>
      <ul class="list">
        <li>Please enter your first name</li>
        <li>Please enter your last name</li>
      </ul>
    </div>
    <div class="fields">
      <div class="six wide field">
        <label>I went to:</label>
        <input placeholder="Name or Nickname" type="text" name="place[name]">
      </div>
     <div class="eight wide field">
        <label>Location:</label>
        <input placeholder="Closest Address" type="text" name="place[location]">
      </div>
       </div>
       
       <div class="fields">
       <div class="four wide field">
        <label>Start Date:</label>
        <input type="date" name="place[startdate]">
      </div>
      <div class="four wide field">
        <label>End Date:</label>
        <input type="date" name="place[enddate]">
      </div>
      </div>

       <div class="fields">
		<div class="four wide field">
        <label>Image 1:</label>
        <input placeholder="URL Please" type="text" name="place[[image]]">
      </div>
      <div class="four wide field">
        <label>Image 2:</label>
        <input placeholder="URL Please" type="text" name="place[[image]]">
      </div>
       <div class="four wide field">
        <label>Image 3:</label>
        <input placeholder="URL Please" type="text" name="place[[image]]">
      </div>
	</div>
    
   <div>
       <input type="submit" value="Add It" class="ui primary button">
  </div>
  </div>
  </form>
  <br>
  <a href="/places" id="indent">Go Back</a>




<% include ../partials/footer %>