<% include ../partials/headerUserUC %>

<br>
<h2 class="ui dividing header" id="indent"><span class="white">Where have you been!</span></h2>
  
  <form action="/places" method="POST" id="newForm">  

  <div class="ui form">
    <div class="ui info message">
      <div class="header">Add your favorite or most recent vacation so you can start preserving the memories with Rapture Capture.</div>
      <ul class="list">
        <li>Please make sure you include a name and location!</li>
      </ul>
    </div>
    <div class="fields">
      <div class="six wide field">
       <div class="required field">
        <label><span class="white">I went to:</span></label>
        <input placeholder="Name or Nickname" type="text" name="place[name]">
        </div>
      </div>
     <div class="eight wide field">
      <div class="required field">
        <label><span class="white">Location:</span></label>
        <input placeholder="Closest Address" type="text" name="place[location]">
        </div>
        </div>
        </div>

       <% if(err) { %>
        <h4><font color="red"><%= err%></font></h4>
        <% } %>
       
       <div class="fields">
       <div class="four wide field">
        <label><span class="white">Start Date:</span></label>
        <input type="date" placeholder="YYYY/MM/DD" name="place[startdate]">
      </div>
      <div class="four wide field">
        <label><span class="white">End Date:</span></label>
        <input type="date" placeholder="YYYY/MM/DD" name="place[enddate]">
      </div>
      </div>

       <div class="fields">
		<div class="four wide field">
        <label><span class="white">Image 1:</span></label>
         <!--  Brings in the Upload Care uploader widget -->
          <br>
          <input type="hidden" role="uploadcare-uploader" name="place[[image]]" />
       <!--  <input placeholder="URL Please" type="text" name="place[[image]]"> -->
      </div>
      <div class="four wide field">
        <label><span class="white">Image 2:</span></label>
         <br>
         <input type="hidden" role="uploadcare-uploader" name="place[[image]]" />
       <!--  <input placeholder="URL Please" type="text" name="place[[image]]"> -->
      </div>
       <div class="four wide field">
        <label><span class="white">Image 3:</span></label>
         <br>
         <input type="hidden" role="uploadcare-uploader" name="place[[image]]" />
       <!--  <input placeholder="URL Please" type="text" name="place[[image]]"> -->
      </div>
	</div>
  <br>
   <div>
       <input type="submit" value="Add It" class="ui green button">
  </div>
  </div>
  </form>

  <br>
  <a href="/places" class="white" id="indent">Go Back</a>




<% include ../partials/footer %>