<% include ../partials/header %>

<br>
<br>

<div id="center"><img src="http://web-hosting-blog.rackservers.com.au/wp-content/uploads/2012/08/internet-error-404-file-not-found.jpg" alt="404 Error"></div>

<br>

<h1 id="center"><a href="/places"><strong>home</strong></a></h1>

<% include ../partials/footer %>