<% include ../partials/header %>

<br>
<br>

<div id="center"><img src="http://telkomgaming.co.za/wp-content/uploads/2014/08/error-500.jpg" alt="500 Error"></div>

<br>

<h1 id="center"><a href="/places"><strong>home</strong></a></h1>

<% include ../partials/footer %>