<% include ../partials/header %>

 

<h1 class="lp_h1">Where your next adventure takes off and the memories come to stay!</h1>

<!-- 
Use link below when adding Oauth for Facebook, takes user
to the app.get(/auth/facebook) route -->

<!-- <a class="center" href="/auth/facebook">Login with Facebook</a> -->




<% include ../partials/footer %>