<% include ../partials/header %>

 

<h1 class="lp_h1">Where your next adventure takes off and the memories come to stay!</h1>



<form action="/login" method="POST" id="center" class="try-out">     
      <input type="hidden" name="user[email]" value="testit@test.com">
      <input type="hidden" name="user[password]" value="1111">    
      <input type="submit" value="Try Me Out!" class="ui primary button"> 
</form>


<!-- 
Use link below when adding Oauth for Facebook, takes user
to the app.get(/auth/facebook) route -->

<!-- <a class="center" href="/auth/facebook">Login with Facebook</a> -->




<% include ../partials/footer %>